@model string

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="box">Hello</div>

<h4>Welcome to the demo</h4>

<h1>@Model.ToUpper()</h1>

<a href="Demo/ShowSampleProduct" class="btn btn-info">Show a product</a>
<a href="Demo/ShowList" class="btn btn-info">Show a word list</a>

